<launch>
    <arg name="scan_topic_" default="scan2"/>
    <arg name="frame_id_" default="laser2"/>
    <arg name="serial_port_" default="/dev/ttyUSB2"/>

    <node name="ls01b_v2_2" pkg="ls01b_v2" type="ls01b_v2" output="screen">
        <param name="scan_topic" value="$(arg scan_topic_)"/>         #设置激光数据topic名称
        <param name="frame_id" value="$(arg frame_id_)"/>          #激光坐标
        <param name="serial_port" value="$(arg serial_port_)"/>  #雷达连接的串口
        <param name="baud_rate" value="460800" />        #雷达连接的串口波特率
        <param name="angle_resolution" value="0.25"/>     #雷达角度分辨率
        <param name="zero_as_max" value="false"/>        # 设置为true探测不到区域会变成最大值
        <param name="min_as_zero" value="false"/>        # true：探测不到区域为0，false：探测不到区域为inf
        <param name="angle_disable_min_0" value="-1"/>    # 角度制，从angle_disable_min到angle_disable_max之前的值为0
        <param name="angle_disable_max_0" value="-1"/>
        <param name="angle_disable_min_1" value="-1"/>    # 角度制，从angle_disable_min到angle_disable_max之前的值为0
        <param name="angle_disable_max_1" value="-1"/>
        <param name="angle_disable_min_2" value="-1"/>    # 角度制，从angle_disable_min到angle_disable_max之前的值为0
        <param name="angle_disable_max_2" value="-1"/>
        <param name="angle_disable_min_3" value="-1"/>    # 角度制，从angle_disable_min到angle_disable_max之前的值为0
        <param name="angle_disable_max_3" value="-1"/>
        <param name="angle_disable_min_4" value="-1"/>    # 角度制，从angle_disable_min到angle_disable_max之前的值为0
        <param name="angle_disable_max_4" value="-1"/>
        # 机器人半径
        <!--<param name="robot_radius" value="0.2"/>  -->
        <param name="robot_radius" value="0.5745"/>  
        # 雷达坐标系下机器人中心位置     
        <param name="center_x" value="-0.50664"/>            
        <param name="center_y" value="-0.29014"/>
    </node>

<!--<node name="rviz" pkg="rviz" type="rviz" args="-d $(find ls01d)/launch/rviz.rviz"/>-->
</launch>
